<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar class="header-bar" color="white">
            <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
          
      <ion-title>Rf Cell</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item class="menu-item" (click)="goTo('home')" lines="none">Home</ion-item>
      <ion-item class="menu-item" (click)="goTo('telas')" lines="none">Telas</ion-item>
      <ion-item class="menu-item" (click)="goTo('register')" lines="none">Cadastrar Usuário</ion-item>
      <ion-item class="menu-item" (click)="logout()" lines="none">Sair</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
