<ion-header>
  <ion-toolbar class="header-bar" color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-padding">
    <h2>Tabelas Rf Cell</h2>
  </ion-text>

  <ion-card>
    <ion-card-header>
      
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="goTo('telas')">Telas</ion-button>
      <ion-button expand="block" (click)="goTo('register')">Cadastrar Usuário</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
