ion-content {
  --background: #f4f4f400; 
  display: flex;
  flex-direction: column;
  align-items: center;
  --padding-top: env(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);  
}

ion-header{
  --padding-top: env(safe-area-inset-top);
  padding-top: env(safe-area-inset-top); 

}

ion-text {
  text-align: center;
  h2 {
    font-weight: bold;
    color: #ffffff;
  }
}

ion-card {
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}


ion-card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
}

ion-button {
  --background: #0e952ca6;
  --color: white;
  border-radius: 8px;
  font-weight: bold;

}
